.upload{
    display: flex;
    border-radius: 4px;
    padding: 5px 10px;
    margin-top: 30px;
    background: var(--btn-bg-color);
    color: var(--btn-text-color);
    transition: var(--transition);
}

.upload:hover{
    background: var(--btn-bg-color-hover);
    color: var(--btn-text-color-hover);
}

.upload > span{
    padding-left: 5px;
}

.uploadOptions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.uploadOptionIcons{
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    padding: 5px;
    border-radius: 4px;
    transition: var(--transition);
    display: flex;
    flex-direction: row;
}

.uploadOptionIcons:hover{
    background-color: var(--btn-bg-color-hover);
    color: var(--btn-text-color-hover);
}