.jobContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.jobSection{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.jobCards{
    height: 100%;
    /* border: 1px solid red; */
    margin: 10px;
}