.bannerPicContainer{
    width: 1571px;
    height: 310px;
    background-color: aliceblue;
    border-radius: 23px;
}

.profilePicContainer{
    background-color: aqua;
    z-index: 1;
    width: 160px;
    height: 160px;
    border-radius: 360px;
    position: absolute;
    translate: 50% 50%;
}

.profilePageContainer{
    /* display: grid;
    grid-template-columns: 0.5fr 1.5fr; */
    display: flex;
    flex-direction: row;

}

.profileContainer{
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
}