.navRhstudioExit{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-top: 15.5px;
}

.navRhstudioExit > div > svg{
    transform: rotate(180deg);
}

.rhstudioPage{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 2px);
}

.rhstudioContainer{
    color: aliceblue;
    /* border:1px solid brown; */
    height: 100%;
    width: 100%;
}