.aboutContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.aboutSection{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.aboutInfo{
    height: 100%;
    /* border: 1px solid red; */
    margin: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
}

/* .aboutLogo>img{
    height: 100%;
    width: 100%;
} */

.aboutMainLogo{
    height: 50%;
    width: 50%;
}

.aboutSubLogo{
    width: 100%;
}