.aboutContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.aboutSection{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.aboutInfo{
    height: 100%;
    /* border: 1px solid red; */
    margin: 10px;
    color: white;
}