.cardpopup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* color: black; */
}

.cardpopup-inner{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 1000px;
    height: 850px;
    background-color: var(--card-popup-bg-color);
    border-radius: 23px;
}

.cardpopup-inner .close-btn{
    position: absolute;
    top: 35px;
    right: 30px;
}