@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --backgroung-color:#050412;
  --transition:400ms;

  /* -------drawing window-------*/
  --margin-top-bottom-drawing:35px;
  --border-color-drawing:1px solid rgba(255, 255, 255, 0.10);
  /* icons */
  --icon-bg-color:#7340E0;
  --icon-svg-color:#FFFFFF;
  --icon-height:30px;
  --icon-width:30px;
  --icon-bg-color-hover:#FFFFFF;
  --icon-svg-color-hover:#7340E0;
  /* properties */
  --btn-bg-color:#7340E0;
  --btn-text-color:#FFFFFF;
  --btn-bg-color-hover:#FFFFFF;
  --btn-text-color-hover:#7340E0;
  --hex-code-window-height:30px;
  --hex-code-window-width:200px;

  /* shop */
  --shop-card-bg-color:#171628; 
  
  --card-popup-bg-color:#222238;
}

body{
  background: var(--backgroung-color);
}

/* Scrollbar for different browsers */
/* Chrome, Brave and Safari Scrollbar */
::-webkit-scrollbar {
  width: 2px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: var(--icon-bg-color); /* color of the scroll thumb */
  border-radius: 4px; /* roundness of the thumb corners */
  /* border: 3px solid var(--btn-bg-color); border around the thumb */
}
